    <div class="container">
        {% include "_partials/shart.html.twig" %}
        {{ new.Content|raw }}

        <a href="{{ path('article_like', {id: new.id }) }}" class="btn btn-link js-like">
            {% if app.user and new.getIsLikeByUser(app.user) == true %}
                <i class="fas fa-thumbs-up"></i>
            {% else %}
                <i class="far fa-thumbs-up"></i>
            {% endif %}
            <span class="js-likes">{{ new.likes|length }}</span>
            <span class="js-label">J'aime</span>
        </a>
        {% if is_granted("ROLE_REDACTOR") %}
            <p>
                <a href="{{ path('redact_edit_article', {'id': new.id, 'slug': new.slug}) }}" class="btn btn-warning">Modifier ce t'article</a>
                <a class="btn btn-primary" href="{{ path('redact_new_article') }}">Ajouter un article</a>
            </p> 
        {% endif %}
        <hr>

        {% if app.user %}
            <div class="row m-3">
                <div class="col-md-9">
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    {{ form_start(form) }}
                        {{ form_row(form.content) }}

                            <button type="submit" class="btn btn-block my-4 btn-outline-primary mt-1">
                                Envoyer
                            </button>

                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}

            <p><a href="{{ path('app_login') }}" class="btn btn-outline-primary">Connectez-vous pour donner votre avis </a></p>
        {% endif %}

        <h5 class="m2">Commentaires des concitoyens</h5>
        <div class="row bg-light m-3">
            <div class="col-md-9">
                {% for comment in new.commentes %}
                    <div class="border-start border-secondary border-4 p-2">
                        <p class="text-info mb-2">{{ comment.author.fullName|title }} a dit <span class="text-muted">le {{ comment.createdAt|date('d-m-Y') }}</span></p>
                        {{ comment.content|nl2br }}<br />
                        <a href="{{ path('commente_like', {id: comment.id }) }}" class="btn btn-link js-like">
                            {% if app.user and comment.getIsLikeByUser(app.user) == true %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ comment.likes|length }}</span>
                            <span class="js-label">J'aime{% if comment.likes|length > 1 %} s {% endif %}</span>
                        </a>
                    </div>
                    <hr />
                {% endfor %}
            </div>
        </div>
    </div>