{% extends 'base.html.twig' %}

{% block title %}{{ prestation.name|title }}{% endblock %}

{% block titre %}
{{ prestation.name|title }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-7">
        {{ prestation.description|raw }}
        <table class="table table-hover bg-light">
            <tbody>
                <tr>
                    <th><span>Coût</span></th>
                    <td><span>{{ prestation.cout }} Fcfa</span></td>
                </tr>
                <tr>
                    <th><span>Délai</span></th>
                    <td><span>{{ prestation.delai }}</span></td>
                </tr>
                <tr>
                    <th><span>Pièces</span></th>
                    <td><span>{{ prestation.pieces|raw }}</span></td>
                </tr>
                <tr>
                    <th><span>Service</span></th>
                    <td><span>
                        {{ prestation.service.name|title }}
                        {{ prestation.service.contact|raw }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}