{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block titre "Inscription" %}

{% block body %}
<div class="row m-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-9 border-start border-success border-4">
    <form method="post">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.firstName) }}
            {{ form_widget(registrationForm.lastName) }}
            {{ form_row(registrationForm.country) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_widget(registrationForm.password) }}
            {{ form_widget(registrationForm.confirmPass) }}
            {{ form_widget(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-block my-4 btn-outline-warning mt-5">
                    Inscription
                </button>
                <p>Vous avez déja un compte? <a class="text-success" href={{ path('app_login') }}>Connectez-Vous!</a></p>

        {{ form_end(registrationForm) }}
        </form>
    </div>
</div>
{% endblock %}
