{% extends "base.html.twig" %}

{% block title "Les Articles Que J'ai Aimé" %}
    
{% block titre "Les Articles Que J'ai Aimé(e)" %}
    
{% block body %}
    <div class="row mt-4">
        {% for like in articlesLikes %}
        {% set new = like.article %}
            <a class="col-md-4 mb-2" href="{{ path('article_show', {id: new.id, 'slug': new.slug}) }}">
                <div class="card h-100 img-fluid card border-left-primary shadow h-100 py-2">
                        <img class="card-img-top" style="height : 26rem; width: 100%;" 
                        src="{{ new.cover }}" alt="{{ new.title|title }}">
                    <div class="card-body">
                        <h5><strong>{{ new.title|title }}</strong></h5>
                    </div>
                    <div class="card-footer">
                        <small class="float-left">Le {{ new.publishedAt ? new.publishedAt|date("d m Y") : ""}}</small>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(articlesLikes) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('article') }}
{% endblock %}